{
  "extends": "strict-standard",
    "parserOptions": {
        "ecmaVersion": 6
    },
    "globals": {
        "document": true,
        "navigator": true,
        "window": true,
        "XMLHttpRequest": true,
        "LTN": true,
        "TDDP": true,
        "Game_Temp": true,
        "Yanfly": true,
        "MVC": true,
        "fs": true,
        "PIXI": true,
        "Utils": true,
        "require": true,
        "$dataAnimations": true,
        "$dataWeapons": true,
        "$dataArmors": true,
        "$dataItems": true,
        "$dataSkills": true,
        "$dataStates": true,
        "$dataEnemies": true,
        "$dataClasses": true,
        "$dataActors": true,
        "$dataMap": true,
        "$gameSystem": true,
        "$gameParty": true,
        "$gamePlayer": true,
        "$gameMap": true,
        "$gameTemp": true,
        "$gameMessage": true,
        "$gameScreen": true,
        "$gameVariables": true,
        "$gameSwitches": true,
        "$gameSelfSwitches": true,
        "$gameActors": true,
        "contents": true,
        "TouchInput": true,
        "Input": true,
        "BattleManager": true,
        "DataManager": true,
        "ImageManager": true,
        "PluginManager": true,
        "TextManager": true,
        "StorageManager": true,
        "AudioManager": true,
        "SoundManager": true,
        "SceneManager": true,
        "Scene_Boot": true,
        "Stage": true,
        "Rectangle": true,
        "Bitmap": true,
        "Sprite": true,
        "TilingSprite": true,
        "Graphics": true,
        "Tilemap": true,
        "Game_CharacterBase": true,
        "Game_Character": true,
        "Game_Player": true,
        "Game_Event": true,
        "Game_Variables": true,
        "Game_Vehicle": true,
        "Game_Action": true,
        "Game_Battler": true,
        "Game_Actor": true,
        "Game_Party": true,
        "Game_Interpreter": true,
        "Game_Map": true,
        "Game_Message": true,
        "Sprite_Base": true,
        "Spriteset_Base": true,
        "Spriteset_Map": true,
        "Sprite_Actor": true,
        "Window": true,
        "Window_Base": true,
        "Window_Selectable": true,
        "Window_Command": true,
        "Window_Gold": true,
        "Window_Help": true,
        "Window_MenuStatus": true,
        "Window_ItemList": true,
        "Window_BattleActor": true,
        "Window_SkillStatus": true,
        "Window_ItemCategory": true,
        "Window_HorzCommand": true,
        "Window_MenuCommand": true,
        "Window_Message": true,
        "Scene_Base": true,
        "Scene_MenuBase": true,
        "Scene_Battle": true,
        "Scene_Item": true,
        "Scene_Map": true,
        "Scene_Menu": true,
        "Scene_Title": true,
        "Scene_Gameover": true,
        "Spriteset_Battle": true
    },
    "rules": {
        "no-console":"off",
        "camelcase":"off",
        "no-unexpected-multiline":"error",
        "brace-style": "error",
        "curly": "error",
        "no-var":"error",
        "prefer-const":"error"
    }
}